<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head></head>
<body>
<footer th:fragment="footer" id="footer">
    <div id="footerblurb">
        <div id="footerblurb-inner">


            <div class="column">


            </div>

            <div class="clr"></div>
        </div>
    </div>
    <div id="footer-inner">
        <p>&copy; Copyright <a href="#">Nominum</a> &#124; <a href="#">Terms of Use</a> &#124; <a href="#">Privacy
            Policy</a></p>

        <div class="clr"></div>
    </div>


</footer>
</body>
</html>