<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head></head>
<body>
    <header th:fragment="header" id="header">
        <div id="header-inner">
            <div id="logo">
                <img th:src="@{logo_header.svg}"/>
            </div>
            <div id="top-nav">
                <ul>
                    <li><a href="#">About</a></li>
                    <li><a href="#">Contact</a></li>
                    <li><a href="#">FAQ</a></li>
                    <li><a href="#">Help</a></li>
                </ul>
            </div>
            <div class="clr"></div>
        </div>

        <div class="feature">
            <div class="feature-inner">
            </div>
        </div>
    </header>
</body>
</html>
