<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title>Fixed Width 1 Green</title>
    <link rel="stylesheet" type="text/css" th:href="@{hello.css}"/>
</head>
<body>
<div id="page">
    <header th:replace="fragments/header" id="header">
    </header>

    <div id="content">
        <div id="content-inner">

            <main id="contentbar">
                <div class="article">
                    <form style="display: table" method="post">
                        <p style="display: table-row">
                            <label style="display: table-cell">Driver:</label>
                            <select id="driver">
                                <option>Google</option>
                            </select>
                        </p>

                        <p style="display: table-row">
                            <label style="display: table-cell">Version:</label>
                            <select id="version">
                                <option>16-2</option>
                            </select>
                        </p>
                        <p style="display: table-row">
                            <input id="submit" style="display: table-cell" type="submit" value="Submit"/>
                            <input id="reset" style="display: table-cell" type="reset" value="Reset"/>
                        </p>
                    </form>
                </div>
                <div id="vm-status">
                    <pre></pre>
                </div>
            </main>

            <nav th:replace="fragments/sidebar" id="sidebar">
            </nav>

            <div class="clr"></div>
        </div>
    </div>



    <footer th:replace="fragments/footer" id="footer">
    </footer>

</div>
<script
        src="https://code.jquery.com/jquery-3.1.1.min.js"
        integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
        crossorigin="anonymous"></script>
<script type="text/javascript">
$(document).ready(function() {
    $("#submit").click(function(e){
        e.stopPropagation();
        e.preventDefault();
        $.post("/environment", {
            driver: $('#driver').val().toLowerCase(),
            version: $('#version').val()
        }).then(function() {

        });

        var es = new EventSource("/consolelogs");
        es.onmessage = function(e){
            $('#vm-status pre').html(e.data
                            .replace(/\\n/g, "\n"));

            $('#vm-status').scrollTop($('#vm-status')[0].scrollHeight);
        };
    });
});
</script>
</body>
</html>
